
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>王永涛的播放器</title>
    <link rel="stylesheet" type="text/css" href="./src/page.css">
    <script src="./src/vue.js"></script>
    <script src="./src/vue-resource@1.5.1.js"></script>
    <!-- 滚动 -->
    <script src="./lib/iscroll.js"></script>
  </head>

  <body>
    <div class="wrap">
      <div class="play_wrap" id="player">
        <div class="search_bar">
          <img src="./images/player_title.png" alt="" />
          <!--<input type="text" v-model.trim="search"  @keyup.enter="searchMusic" />  -->
          <div class="search_recommend top_search_recommend">
          </div>
          <div class="search_histroy top_search_histroy">  
          </div>
          <input type="text" v-model.trim="search"  @keyup.enter="searchMusic" placeholder="请输入歌名、歌词、歌手或专辑" autocomplete="off" value="">
          <i class="search_bar input"></i>
         <!-- <div class="search-content-wrap" style="display:none;"></div>-->
        </div>
        <div class="center_con">
          <div class="song_wrapper"> 
            <transition-group
              name="list"
              tag="ul"
              class="song_list"
              v-on:after-enter="afterEnter"
            >
              <li
                v-for="(item,index) in musicList"
                :key="index"
                @dblclick="playMusic(item)"
                :style="{transitionDelay:index*10+'ms'}"
              >
                {{ item.name }}--{{ item.artists[0].name }}
              </li>
            </transition-group>
          </div>
          <div class="player_con">
            <img
              src="images/player_bar.png"
              class="play_bar"
              :class="{isPlay:isPlay}"
            />
            <!-- 黑胶碟片 -->
            <img
              src="images/disc.png"
              class="disc autoRotate"
              :class="{playing:isPlay}"
            />
            <img
              :src="picUrl?picUrl:'./images/cover.png'"
              class="cover autoRotate"
              :class="{playing:isPlay}"
            />
          </div>
          <div class="comment_list">
            <div>
              <dl v-for="(item,index) in commentList" :key="index">
                <dt><img :src="item.user.avatarUrl" alt="" /></dt>
                <dd class="name">{{ item.user.nickname }}</dd>
                <dd class="detail">{{ item.content }}</dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="audio_con">
          <audio
            :src="musicUrl"
            controls
            autoplay
            loop
            @play="play"
            @pause="pause"
            class="myaudio"
          ></audio>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      let app = new Vue({
        el: '#player',
        data: {
          // 搜索内容
          search: '',
          // 歌曲列表
          musicList: [],
          // 歌曲地址
          musicUrl: '',
          // 歌曲封面url
          picUrl: '',
          // 是否播放
          isPlay: false,
          // 评论数组
          commentList: [],
          // mvUrl
          mvUrl: '',
          // 滚动
          myScroll: undefined,
          // 左边滚动
          leftScroll: undefined
        },

        mounted() {
          this.myScroll = new IScroll('.comment_list', {
            mouseWheel: true,
            scrollbars: true
          })
          this.leftScroll = new IScroll('.song_wrapper', {
            mouseWheel: true
          })
        },
        updated() {
          this.myScroll.refresh()
          this.leftScroll.refresh()
        },
        methods: {
          // 动画钩子
          afterEnter(e) {
            e.style = ''
          },
          searchMusic() {
            // 清空数组
            this.musicList = []
            this.$http
              .get('https://autumnfish.cn/search?keywords=' + this.search)
              .then(
                res => {
                  // 赋值歌曲数据
                  this.musicList = res.body.result.songs
                },
                err => {}
              )
          },
          // 动画钩子
          afterEnter(el) {
            el.style = ''
          },
          // 放歌
          playMusic(item) {
            // 获取歌曲url
            this.$http.get('https://autumnfish.cn/song/url?id=' + item.id).then(
              res => {
                // 赋值歌曲url
                this.musicUrl = res.body.data[0].url
              },
              err => {}
            )

            // 获取 封面url
            this.$http
              .get('https://autumnfish.cn/album?id=' + item.album.id)
              .then(
                res => {
                  // console.log(res);
                  this.picUrl = res.body.album.picUrl
                },
                err => {}
              )

            // 获取评论
            this.$http
              .get('https://autumnfish.cn/comment/hot?type=0&id=' + item.id)
              .then(
                res => {
                  // console.log(res)
                  this.commentList = res.body.hotComments
                },
                err => {}
              )
            // 获取mv
            this.$http.get('https://autumnfish.cn/mv/url?id=' + item.mvid).then(
              res => {
                // console.log(res);
                this.mvUrl = res.body.data.url
              },
              err => {}
            )
          },
          // 歌曲播放
          play() {
            console.log('play')
            this.isPlay = true
          },
          // 歌曲暂停
          pause() {
            console.log('pause')
            this.isPlay = false
          }
        }
      })
    </script>
  </body>
</html>
