{template 'public/header'}
{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/jy_fen/template/public/ygcss.css">
<style type="text/css">
    input[type="radio"] + label::before {
        content: "\a0"; /*不换行空格*/
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        width: 1em;
        height: 1em;
        margin-right: .4em;
        border-radius: 50%;
        border: 2px solid #ddd;
        text-indent: .15em;
        line-height: 1; 
    }
    input[type="radio"]:checked + label::before {
        background-color: #88C200;
        background-clip: content-box;
        padding: .1em;
        border: 2px solid #88C200;
    }
    input[type="radio"] {
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }
    .ygmargin{display:block;width:100%;margin-top: 10px;color: #999;}
</style>
<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>    
    <li class="active"><a href="{php echo $this->createWebUrl('qrprintlist')}">二维码预打印列表</a></li>
    <li class="active"><a href="{php echo $this->createWebUrl('addqrprintlist')}">添加二维码预打印</a></li>
</ul>
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <!--<input type="hidden" name="parentid" value="{$parent['id']}" />-->
        <div class="panel panel-default ygdefault">
            <div class="panel-heading wyheader">
                内容编辑
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><font color="red">*</font>公众号</label>
                    <div class="col-sm-9">
                        <select class="col-sm-12" name="wxappid">
                            <option value="0">请选择公众号</option>
                            {loop $wxapplist $key $item}
                                <option value="{$item['id']}" data-gz_type="{$item['gz_type']}" {if $item['id'] == $info['wxappid']}selected{/if} >{$item['appname']}</option>
                            {/loop}
                        </select>
                        <div class="ygmargin"><br><br>*可选，当选择公众号的话，则是死码，如果是不选择公众号的话，则是活码</div>
                        <div class="ygmargin">*如果选择的公众号是订阅号类型的话，那么你的公众号的“公众号的文章链接”就必须填写</div>
                        <div class="ygmargin">
                            <font color="red">*不指定公众号的需要多一步识别二维码流程；这种码可以切换公众号
                            </font>
                        </div>
                    </div>
                </div>
                <div class="form-group mode mode1">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否指定WIFI</label>
                    <div class="col-sm-9">
                        <span class="radio-inline">
                            <input id="is_zdwifi1" type="radio" name="is_zdwifi" value="1" {if $info['is_zdwifi']==1 || empty($info['is_zdwifi'])}checked{/if}  />
                            <label for="is_zdwifi1">是</label>              
                        </span>
                        <span class="radio-inline">
                            <input id="is_zdwifi2" type="radio" name="is_zdwifi" value="2" {if $info['is_zdwifi']==2}checked{/if} /> 
                            <label for="is_zdwifi2">否</label>
                        </span>
                        <div class="ygmargin">
                            *指定WIFI的话，那么在关注公众号之后，出现的连WIFI，进入之后，不会指定连特定的WIFI，而是根据地理位置来自动连接WIFI
                            <br>
                            <font color="red">*指定就是二维码绑定wifi的，不指定就是根据地理位置连的，不指定精准度不高，而且不显示门店信息
                            </font>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><font color="red">*</font>选择样式</label>
                    <div class="col-sm-9">
                        <select class="col-sm-12" name="yangshi">
                            <option value="0">请选择样式</option>
                            {loop $yangshi $key $item}
                                <option value="{$item['id']}" {if $item['id'] == $info['yangshi']}selected{/if} >{$item['name']}</option>
                            {/loop}
                        </select>
                        <div class="ygmargin">*必填</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><font color="red">*</font>代理商</label>
                    <div class="col-sm-9">
                        <select class="col-sm-12" name="fxid">
                            <option value="0">请选择代理商</option>
                            {loop $fxlist $key $item}
                                <option value="{$item['user_id']}" {if $item['user_id'] == $info['fxid']}selected{/if} >{$item['user_name']}</option>
                            {/loop}
                        </select>
                        <div class="ygmargin">可选</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="name" class="form-control" value="{$info['name']}" />
                    </div>
                </div>
                <div class="form-group mode mode2">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">二维码数量</label>
                    <div class="col-sm-9">
                        <input type="number" name="num" class="form-control" placeholder="0" value="{$info['num']}" />
                        <div class="ygmargin">*预先生成二维码的数量，建议数量不要超过100条，50条为最佳</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">打印方式 </label>
                    <div class="col-sm-9">
                        <span class="radio-inline">
                            <input id="ptype1" type="radio" name="ptype" value="1" {if $info['ptype']==1 || empty($info['ptype'])}checked{/if}  />
                            <label for="ptype1">海报</label>              
                        </span>
                        <span class="radio-inline">
                            <input id="ptype2" type="radio" name="ptype" value="2" {if $info['ptype']==2}checked{/if} /> 
                            <label for="ptype2">二维码</label>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" name="submit" value="提交" class="btn col-lg-3" style="color: white;background-color: #88C200;"/>
            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="id" value="{$info['id']}" />
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        // $("#frame-2").addClass("in");
        $("#frame-16").show();
        $("#yframe-16").addClass("wyactive"); 
        $("select[name='wxappid']").change(function(){
            var obj=$("select[name='wxappid'] option:selected");
            var val=obj.val();
            var gz_type=obj.attr('data-gz_type');
            $(".mode1").show();
            $(".mode2").show();
            if(parseInt(val)>0&&parseInt(gz_type)==2){
                $(".mode1").hide();
                $(".mode2").hide();
            }
        })
        $("input[name='is_zdwifi']").change(function(){
            var obj=$("input[name='is_zdwifi']:checked");
            var val=obj.val();
            $(".mode2").show();
            if(parseInt(val)==2){
                $(".mode2").hide();
            }
        })
        $("select[name='wxappid']").change();
        $("input[name='is_zdwifi']").change();
    })
</script>