{template 'public/header'}
{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/jy_fen/template/public/ygcss.css">
<style type="text/css">
    input[type="radio"] + label::before {
        content: "\a0"; /*不换行空格*/
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        width: 1em;
        height: 1em;
        margin-right: .4em;
        border-radius: 50%;
        border: 2px solid #ddd;
        text-indent: .15em;
        line-height: 1; 
    }
    input[type="radio"]:checked + label::before {
        background-color: #88C200;
        background-clip: content-box;
        padding: .1em;
        border: 2px solid #88C200;
    }
    input[type="radio"] {
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }
    .ygmargin{margin-top: 10px;color: #999;}
    .none{display:none;}
</style>
<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>    
    <li><a href="{php echo $this->createWebUrl('gzwxapplist')}">返回公众号列表</a></li>
</ul>
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <div class="panel panel-default ygdefault">
            <div class="panel-heading wyheader">
                第三方平台信息
            </div>
            <div class="form-group"></div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">平台名称</label>
                <div class="col-sm-9">
                   <input type="text" name="sf_name" class="form-control" value="{$item['sf_name']}" />
                    <div class="help-block">
                    * 第三方平台的名称
                    </div>
                </div>
            </div>  
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">接口地址</label>
                <div class="col-sm-9">
                    <input type="text" name="sf_url" value="{$item['sf_url']}" class="form-control" />
                    <div class="help-block">
                    * 第三方平台的对接的URL
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">Token</label>
                <div class="col-sm-9">
                    <input type="text" name="sf_token" value="{$item['sf_token']}" class="form-control" />
                    <div class="help-block">
                    * 第三方平台的Token
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否开启</label>
                <div class="col-sm-9">
                    <label class="radio-inline">
                        <input type="radio" id="sf_status1" name="sf_status" value="1" {if $item['sf_status']==1}checked{/if} />
                        <label for="sf_status1">开启</label>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" id="sf_status2" name="sf_status" value="2" {if $item['sf_status']==2 || empty($item['sf_status'])}checked{/if} />
                        <label for="sf_status2">关闭</label>
                    </label>
                    <div class="help-block">
                    * 如果开启第三方平台，则本平台的自定义菜单则停止使用
                    </div>
                </div>
            </div>
            {if $checksf['status']==2}
            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <font color="red">提示:您的第三方平台的接口有异常：{$checksf['msg']}</font>
                </div>
            </div>
            {/if}
         </div>
            

        <div class="form-group">
            <input type="submit" name="submit" value="提交" class="btn col-sm-3" style="color: white;background-color: #88C200;"/>
            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="id" value="{$item['id']}" />
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        $("#frame-26").show();
        $("#yframe-26").addClass("wyactive");
    })
</script>